
# Originais não-otimizados (use os .jpeg gerados pelo converter-fotos.command)
**/.DS_Store
*.DNG
*.HEIC
*.HEIF
*.dng
*.heic
*.heif
.DS_Store
assets/profile/DSCF*
franca-candidatas/
franca-gps.json
franca-rest-info.json
franca-review.html
photo_matches_franca*.json
